
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#logo {
    display: inline-block;
    position: relative;
  }
  
  #logo img {
    width: 150px;
    position: absolute; 
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }
  
  

  header{
    text-align: left;
    margin-left: -200px;
    margin-top: 28px;
  }

body{
    
    margin-left: auto;
  margin-right: auto;
    text-align: center;
    width: 400px;
    
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    
    background-color: black;
    
    

}

#main {
    text-align: center;
}

#main h1 {
    
    margin-top: 100px;
    font-family: "Outfit", serif;
    color: rgb(253, 254, 255);
    font-size: 50px;
    white-space: nowrap;
}

#main p {
    
    text-align: center;
    color: rgb(253, 254, 255);
    font-size: 25px;
    font-family: "Outfit", serif;
    
    
    
    
}

.primop {
    white-space: nowrap;
   margin-left: -96px;
   margin-top: -20px

}

.secondop{
    margin-top: -20px;
}